# Node modules
node_modules/

# TypeScript output
/dist

# Logs
*.log

# IDE/Editor specific files
.vscode/
.idea/

# Operating system specific files
.DS_Store
Thumbs.db

# npm package lock files (optional, depending on preference)
package-lock.json
yarn.lock
